

body {font-family: Arial, sans-serif;
background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

button.dr-top-buttons

.btn-green, button[type="submit"] {
    background: #54c16d
}
.btn-green:hover {
    background: #24a541
}